*{
    margin:0;
    padding:0;
    font-family:'Open sans',arial;
}

.content{
    min-width:360px;
    min-height: calc(100vh - 40px); 
    width:100%; 
    overflow:hidden; 
    background-color:rgb(190,185,181);
}

footer{ 
    min-width:360px;
    text-transform:uppercase; 
    background-color:rgb(194,91,86); 
    overflow:hidden;   
    height:10px;  
    color:black;
    padding:15px; 
    font-size:10px; 
    color:white;
    font-weight:bold;
    text-align:center;
} 

header{
    text-transform:uppercase; 
    background-color:rgb(123,93,59); 
    overflow:hidden;   
    background-image:url("../Images/header-bg.jpg");
    background-position: -400px -400px;
    color:white;
    font-weight:bold;
    font-size:20px; 
}
header>.title{
    background-color:rgba(60, 60, 60,0.5);
    text-align:center;
    font-size:40px;
    padding-top:20px;
}
header>.info{
    background-color:rgba(60, 60, 60,0.5);
    padding:20px;
    padding-top:20px;
    font-size:20px;
    height:200px;  
    text-align:center;
}

@media screen and (max-width:800px){
    header{
        height:80px;
        padding:0;
    }
}

@media screen and (max-width:550px){
    header>.title{
    font-size:26px;
    }
}

.block{
    margin:20px 10% 20px 10%;
    width:80%;
    background-color:rgb(254,246,235); 
}

.loading{
    width: 100px;
    height: 100px;
    background: url('../Images/loading.gif') no-repeat;
    background-size: cover;
    margin: 5% auto 0;
}

.control-block{
    overflow:hidden;
}
.control-block>div{
    margin:10px 0 10px 20px;
    padding:8px;
    background-color:rgb(194,91,86);
    float:left;
    cursor:pointer;
    transition:background-color 200ms;
    font-weight:bold;
    color:white;
}
.control-block>div:hover{
    background-color:#9dd8ff;
    transition:background-color 200ms;
}
.todo-block>:nth-child(2n+1){
   background-color:rgb(150,192,206);
}
.todo-block>:nth-child(2n){
   background-color:rgb(190,222,246);
}

.todo-input{
    display:block;
    float:left;
    padding:4px;
    font-size:16px;
    font-weight:bold;
    margin:5px;
}

.todo-value{
    padding:5px;
    background-color:red;
    overflow:hidden;
}

.checkbox{
    display:block;
    float:left;
    margin:15px 5px 10px 5px;
}

.todo-name{
    display:block;
    float:left;
    margin:10px;
    font-weight:bold;
}

.button-container{
    float:right;
}
.button-container>div{
    text-align:center;
    width:60px;
    font-weight:bold;
    display:block;
    float:left;
    margin:5px;
    background-color:rgb(82,85,100);
    color:white;
    padding:8px;
    cursor:pointer;
    transition:background-color 200ms;
}
.button-container>div:hover{
    background-color:rgb(194,91,86);
    transition:background-color 200ms;
}

.template{
    display:none;
}

.template-value{
    display:none;
}
